.about{
    background-color: rgb(187, 187, 187);
    color: black;
    text-align: center;
}

.text{
    display: flex;
    flex-direction: column;
}

header{
    background-color: gray;
    color: black;
    display: flex;
    flex-direction: column;
    text-align: center;
}